[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
numpy = ">=1.14.0"
gym = ">=0.17.2"
tensorflow = ">=2.2.0"
keras = ">=2.4.3"
opencv-python = ">=4.0.0"

[requires]
python_version = "3.7"
